@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&display=swap');
* {margin: 0; padding: 0;}
ul,li {list-style: none;}
a {text-decoration: none;}
html, body {font-family: 'Hahmlet', serif;}

/*전체너비 960px*/
#main_header {width: 960px; margin: 0 auto; height: 160px; position:relative}
#main_header .title{position: absolute; left: 10px; top: 30px}
#main_header .main_gnb{position: absolute; right: 0; top: 0;}
#main_header .main_lnb{position: absolute; right: 0; bottom: 10px;}

/*메뉴*/
.main_gnb{overflow: hidden;}
.main_gnb ul li{float: left;}
.main_gnb ul li a{
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #777;
}
.main_gnb ul li a:hover{
    background-color: #333;
    color: #fff;
}
.main_gnb ul li:nth-child(1) a{border-radius: 8px 0px 0px 8px;}
.main_gnb ul li:nth-child(5) a{border-radius: 0px 8px 8px 0px;}

.main_lnb{overflow: hidden;}
.main_lnb ul li{float: left;}
.main_lnb ul li a{
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid #777;
}
.main_lnb ul li a:hover{
    background-color: #333;
    color: #fff;
}
.main_lnb ul li:nth-child(1) a{border-radius: 8px 0px 0px 8px;}
.main_lnb ul li:nth-child(5) a{border-radius: 0px 8px 8px 0px;}

/*본문*/
#content {
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
}
#content .main_section{
    float: left; width: 750px;
    
}
#content .main_article{
    border: 1px solid #777;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#content .main_aside{
    float: right; width: 200px;
    border: 1px solid #777;
}
/*탭 (사이드) 영역*/
.main_aside > .buttons {overflow: hidden;}

.main_aside > .buttons > label{
    float: left;
    width: 50%;
    text-align: center;
    background-color: #333;
    color: #fff;
}
.tab-content {border-top: 1px solid #999}
.tab-content:nth-child(1){border: none;}
.tab-content ul li a {display: block;}
.tab-content ul li a span {display: block;}
.tab-content .re {position: relative;}
.tab-content .ab {position: absolute; bottom: 10px; left:55px; font-size: 15px;}
.tab-side {
    padding: 10px;
}
.tab-content ul li a .ab > strong{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 135px;    /*박스 크기를 넘어가는 내용에 대해 ...으로 처리*/
    display: block;
}

/*footer*/
#main_footer{
    border: 1px solid #777;
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
