.form-login {

    
    box-shadow: 0px 8px 16px rgb(0,0,0, 15%);
    padding: 30px 20px;
    margin-bottom: 111px;
}

.form-login img{
    width: 100%;
}
.form-login .logininner{
    padding: 47px 30px;
}
