/* 개인 디자인영역 (커스터마이징) */ 

/* header */
.custom-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
}
.custom-header .navbar{
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}
.custom-header .navbar-inverse{
    background-color: #18191f;
}
.custom-header .navbar-inverse .navbar-nav > .active > a{
    background-color: #44464c;
}
.custom-header .navbar-inverse .navbar-nav > li > a:hover,
.custom-header .navbar-inverse .navbar-nav > li > a:focus{
    background-color: #44464c;
}
.custom-header .navbar-inverse .navbar-nav > li > a{
    color: #fff;
}
.custom-header .navbar-brand{
    padding: 10px 20px;
}

/* footer 스타일 */
footer{
    background-color: #18191f;
    margin-top: 50px;
}
footer .address{
    margin: 0;
}

footer .copyright{
    color: #fff;
    padding: 30px 0;
}
footer .footer-menu{
    overflow: hidden;
    padding: 30px 0;
}
footer .copyright-menu{
    float: right;
}
footer .copyright-menu li{
    display: inline-block;
    padding: 0 5px;
}
footer .copyright-menu li a{
    color: #fff;
}
/*슬라이드 영역*/
.slide-list{
    padding: 0;
}
.carousel-control.right{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, 0) 100%);
}
.carousel-control.left{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, 0) 100%);
}

/* 섹션영역 */
.prod-list, .prod-link{
    border: 1px solid #777;
    display: block;
    text-align: center;
}
.prod-list{
    padding: 5px;
}
.prod-list .prod-inner{
    padding: 5px;
}
.prod-link{
    position: relative;
}
.prod-link .arrow{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ccc;
    color: #fff;
    position: absolute; /*a상자 기반으로 띄움*/
    left: 15px;
    bottom: 15px;
    opacity: 1 ;
}
.prod-link .hover{
    width: 100px;
    background-color: #4285F4;
    opacity:0 ;  /*투명도, 1=보임 0=안보임*/
}
.prod-link:hover{
    border: 1px solid #4285F4;
}
.prod-link:hover > .arrow {
    opacity: 0;

}
.prod-link:hover > .hover {
    opacity: 1;
}